* {
  padding: 0px;
  margin: 0.5rem 0rem 0rem 0rem;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h2 {
  font-size: clamp(1.2rem, 5vw, 4rem);
  margin: 2rem 0rem;
}

a {
  display: block;
}