.E2 .container {
  position: absolute;
  padding: 0.5rem 2rem;

  top: 0;
  left: 0;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  color: #fff;
  background-color: #1f1f1f;
  transform: translateY(-100%);
  transition: 1s all;
}

.E2:hover .container {
  transform: translateY(0);
}

.E2:hover .img2 {
  transform: scale(110%) translateY(20%);
}