.E3 .container {
  position: absolute;
  padding: 0.5rem 2rem;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  color: #fff;
  background-color: #1f1f1f;
  transform: translateY(87%) scale(80%);
  transition: 1s all;
}

.E3:hover .container {
  transform: translateY(0) scale(100%);
}