* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img1 {
  background: url(./assets/Sanji_LiveAction.jpg);
}

.img2 {
  background: url(./assets/Zoro_LiveAction.jpg);
}

.img3 {
  background: url(./assets/Luffy_Crew.jpg);
}

.provertyP {
  
  background-size: cover;
  background-position: center;
  height: 30vw;
  width: 50vw;
}

.E1, .E2, .E3 {
  width: 50vw;
}