.zoom_fade a::before {
  content: "";
  position: absolute;

  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;

  height: 100%;
  width: 100%;

  top: -2px;
  left: 0;
  
  transform: scaleY(1.5);
  opacity: 0;
  transition: all 0.5s;
}

.zoom_fade a::after {
  content: "";
  position: absolute;
  
  background-color: #fff;
  
  height: 60%;
  width: 100%;
  
  top: 20%;
  left: 0;
  
  z-index: -1;
  transform: scaleX(0) scaleY(0);
  opacity: 0;
  transition: all 0.5s;
}

.zoom_fade a:hover::before,
.zoom_fade a:hover::after,
.zoom_fade a:hover {

  transform: scaleX(1) scaleY(1);
  opacity: 1;
  color: #000;
  font-weight: bold;
}