* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
  color: #fff;
}

body {
  background-color: #000;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

section {
  margin: 1rem 0;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

li {
  margin: 0.5rem 0;
  list-style: none;
}

a {
  text-decoration: none;
  font-size: clamp(10px, 2.5vw, 2rem);

  padding: 0.7rem 0.5rem;
  margin: 0 0.5rem;

  position: relative;

  transition: all 0.5s;
}