* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: #000;
  color: #fff;
}

.card {
  width: 97vw;
  background-color: rgb(30, 30, 30);
  margin: 10px;
  padding: 10px;
  line-height: 30px;
}

.card-details {
  color: rgb(0, 168, 168);
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 0.7rem;
  height: 0.7rem;
  margin: 2rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(30, 30, 30);
  border-radius: 50px;
}